:root {
  --primary-color: antiquewhite;
  --second-color: sienna;
}

.font-cursive {
  font-family: "Parisienne", cursive;
}
.font-flower {
  font-family: "Indie Flower", cursive;
}
.nav-icon {
  width: 50px;
}

.center-align {
  text-align: center;
}
.display-block {
  display: block;
  margin: 0 auto;
}
.p-text {
  background-color: var(--primary-color);
}
h3 {
  opacity: 0.7;
  font-size: 25px;
  line-height: 1;
}
h1 {
  font-family: "Parisienne", cursive;
  font-size: 48px;
}
h2 {
  font-family: "Indie Flower", cursive;
}
p {
}
.row-container {
  background-color: var(--primary-color);
}
.om-fika-text {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  background-color: var(--primary-color);
}
.kak-text {
  font-family: "Parisienne", cursive;
  font-size: 25px;
}
ul {
  list-style: none;
}
.div-1 {
  background-color: var(--primary-color);
}
.contact-link {
  color: var(--second-color);
}
.fika-knapp {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.fika-knapp:hover {
  color: white;
}
span {
  color: var(--second-color);
}

@media (max-width: 960px) {
  .img-index {
    margin-top: 20px;
  }
}
